@import "../fonts/font.sass"

$dark-color: #000000
$light-color: #ffffff

$grey-color: #ccc
$red-color: #ff0000
$green-color: #00ff00
$blue-color: #0000ff
$yellow-color: #ffff00

$mobile-width: 768px
$desktop-width: 1024px
$large-width: 1200px
$extra-large-width: 1440px

$poppins-font: "Custom_Poppins", sans-serif

%message-shared
    font-size: 1.5rem
    font-weight: 500
    color: $dark-color

%poppins-font
    font-family: $poppins-font
    font-weight: 500
    color: $dark-color

%grey-border
    border: 1px solid $grey-color