@import "../fonts/font.sass"

$dark-color: #000000
$light-color: #ffffff

$poppins-font: "Custom_Poppins", sans-serif

%message-shared
    font-size: 1.5rem
    font-weight: 500
    color: $dark-color

%poppins-font
    font-family: $poppins-font
    font-weight: 500
    color: $dark-color